.loadingScreen {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.selectedMemoryDestination {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
