.destinationsSection {
  display: flex;
  flex-direction: column;
  /* background-color: #f8f8f8; */
}

.destinationsSection__search {
  margin-top: 16px;
  margin-left: 16px;
}

.destinationsSection__search > p {
    margin-left: 10px;
    font-size: 11px;
    font-weight: 600;
}