.modal__header {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--secondaryColor);
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.modal__header-icon {
  width: 34px;
  height: 34px;
}

.modal__header .modal__header-icon * {
  height: 100%;
  width: 100%;
  color: black;
}

.modal__body {
  margin-top: 20px;
  position: relative;
}
